@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;1,500&display=swap");

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
.logo {
  height: 3rem;
}
@media screen and (max-width: 991px) {
  .logo {
    padding: 0px !important;
  }
}
.Nabbar .effect {
  position: relative;
}
.Nabbar .effect::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #0ef;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}
.Nabbar .effect:hover::after {
  width: 100%;
  left: 0;
}
.navbar::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.7s;
}
.navbar:hover::after {
  width: 100%;
}

.Active {
  color: var(--main-color) !important;
}
.Nabbar a:hover {
  color: var(--main-color) !important;
}

/* home page styling  */
section {
  min-height: 100vh;
  padding: 0rem 6% 0rem;
  color: white;
  background-color: black;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
#homeimage {
  width: 100%;
  /* width: 60vw; */
  height: 100vh;
  background-image: url(images/imghome.png);
  background-size: cover;
  background-position: center;
}
.main-color {
  color: #0ef;
}
.home-content h3 {
  font-size: 2.6rem;
  font-weight: 600;
}
.home-content h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.3rem;
}
.home-content p {
  font-size: 1.4rem;
}
.social-media a {
  /* display: inline-flex; */
  /* padding: 2px; */
  justify-content: center;
  align-items: center;
  width: 3rem;
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 3rem 1.4rem;
}
.radius {
  border: 2px solid var(--main-color);
  text-align: center;
  padding: 0.6rem;
  border-radius: 50%;
  transition: 0.5s ease;
}
.social-media .radius:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1 rem var(--main-color);
}
.home-content h3:nth-child(n + 2) {
  margin-bottom: 2rem;
}

.home-content span {
  color: #0ef;
}
.home-content h1,
h3,
p {
  margin-bottom: 1.3rem;
}
.buttn {
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1rem;
  background: var(--main-color);
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
}
.buttn:hover {
  box-shadow: none;
}

/* about section  */
#about {
  padding: 4rem 0;
}
.Row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 40%;
}
.about-col-1 img {
  width: 100%;
}
.about-col-2 {
  flex-basis: 55%;
}
.sub-title {
  font-size: 3rem;
  color: #8cf3fc;
}
.tab-titles {
  display: flex;
  margin: 1.1rem 0rem 2.2rem;
}
.tab-links {
  margin-right: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.7s;
}
/* .tab-links:hover::after{
    width: 100%;

} */
.tab-links.active-link::after {
  width: 60%;
}
.tab-contents ul li {
  list-style: none;
  margin: 0.6rem 0;
}
.tab-contents ul li span {
  color: var(--main-color);
  font-size: 0.8rem;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* progress bar styling  */
.progress-bar{
    background: var(--white);
    width:80%;
    height:0.3rem;
    border-radius:0.4rem;
}
.progress-bar .Html{
    height:0.3rem;
    border-radius:0.4rem;
    width:80%;
    box-shadow: 0 0 1rem var(--main-color);
    background:var(--main-color);
}


.progress-bar .Css{
    height:0.3rem;
    border-radius:0.4rem;
    width:75%;
    box-shadow: 0 0 1rem var(--main-color);
    background:var(--main-color);
}


.progress-bar .Jvs{
    height:0.3rem;
    border-radius:0.4rem;
    width:65%;
    box-shadow: 0 0 1rem var(--main-color);
    background:var(--main-color);
}

.progress-bar .Bts{
    height:0.3rem;
    border-radius:0.4rem;
    width:70%;
    box-shadow: 0 0 1rem var(--main-color);
    background:var(--main-color);
}




/* portfolio section  */
.heading {
  text-align: center;
  font-size: 3rem;
}

.heading h2 {
  color: var(--text-color);
}

.heading span {
  color: #8cf3fc;
}
.portfolio {
  background: #08090b;
}
.portfolio h2 {
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.3rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 2rem;
}
.portfolio-layer p {
  /* font-size: 1.6rem; */
  margin: 0.3rem 0 0.5rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* footer styling  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 1.8rem 9%; */
  padding-top: 1.5rem;
  padding-left: 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.2rem;
  color: var(--text-color);
}
.footer-iconTop {
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.footer-iconTop a i {
  color: var(--main-color);
  text-decoration: none;
}

.footer-iconTop .radius:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1 rem var(--main-color);
}
.padding_top {
  padding-top: 2rem;
}

/* --------------------contact us styling -----------------  */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

:root {
    --primary-color: #ff3c78;
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}

.contact {
    margin-top: 45px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    color: var(--main-color);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    /* color: var(--light-black); */
}

.form .form-txt span {
    color: var(--white);
    font-size: 14px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color:#bbf8fc;
}

.form .form-txt p {
    color: var(--white);
    font-size: 14px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    /* color: var(--black); */
    color:#bbf8fc;
    outline: none;
    border: 1px solid var(--grey);
    margin: 35px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    /* color: var(--black); */
    color:#bbf8fc;
    outline: none;
    border: 1px solid var(--grey);
    font-size: 14px;
    resize: none;
}

.form .form-details button {
    padding: 15px 25px;
    color: var(--second-bg-color);
    font-weight: 500;
    background: var(--main-color);
    outline: none;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main-color);
    margin: 15px;
    font-size: 14px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s ease;
    text-decoration: none;
}
.form .form-details button:hover{
    box-shadow: none;
}
.mail_to{
    text-decoration:none;
    color:var(--white);
}

/* ------media query for contact form--------  */

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}
/* --------------mediaquery styling starts------------------  */

@media (max-width: 1200px) {
  .portfolio-layer h4 {
    font-size: 1.4rem;
  }
  .portfolio-layer p {
    font-size: 1rem;
  }
  .portfolio-layer a {
    /* font-size:95%; */
    width: 2rem;
    height: 2rem;
  }
  .portfolio-layer a i {
    font-size: 95%;
  }
  .about-col-1 {
    padding-top: 2rem;
  }
  .about-col-2 {
    padding-top: 0rem;
  }
}

@media (max-width: 1012px) {
  .portfolio-layer h4 {
    font-size: 1.4rem;
    line-height: 0.9rem;
  }
  .portfolio-layer p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .portfolio-layer a {
    /* font-size:95%; */
    width: 2rem;
    height: 2rem;
  }
  .portfolio-layer a i {
    font-size: 95%;
  }
}
@media (max-width: 992px) {
  .home {
    flex-direction: column;
    background-position: none;
  }
}
@media (max-width: 767px) {
  .about-col-1 {
    float: right;
  }
  .text_align_center {
    text-align: center;
  }
}
@media (max-width: 376px) {
  #homeimage {
    display: none;
  }
  .Row{
    display:block;
  }
}
@media (max-width: 420px) {
  .social-media a i {
    margin-bottom: 1rem;
  }
  .buttn {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .tab-links {
    margin-right: 2rem;
  }
  .sub-title {
    font-size: 2.6rem;
  }
  .heading {
    font: size 2.5rem;
  }
}
@media (max-width: 340px) {
  .padding_para {
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media (max-width: 320px) {
  .tab-links {
    margin-right: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 365px) {
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1.2rem;
  }
}
@media (max-width: 426px) {
  .footer {
    padding-left: 6%;
  }
}
@media (max-width: 625px) {
  .footer {
    flex-direction: column-reverse;
    padding-left: 0px;
  }
  .footer-iconTop {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
